.toolbar {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 2em;
}
.toolbar > button {
	margin-right: 1em;
}
.toolbar > button > span {
	margin-left: 0.5em;
}
.toolbar > button > svg {
	padding-top: 0.25em;
	scale: 1.5;
}

.app .toolbar {
	justify-content: flex-start;
}
