.cell > span {
	padding-left: 0.3em;
}
.cell > svg {
	padding: 0.2em 0.4em 0 0.3em;
	scale: 1.5;
}

.pagination {
	margin-top: 1.5em;
}
.pagination > span {
	padding: 1em;
}

.row {
	display: flex;
	margin: 0.5em;
	padding: 0 1em 0 1em;
}
.row > div {
	flex: 1;
	padding: 0.25em;
	text-align: left;
}
.row.header {
	border-bottom: thin solid #cbc4c4;
	font-weight: bold;
}
