.sign-up {
	background: linear-gradient(rgba(35,43,85,0.75),rgba(35,43,85,0.95));
	background-size: cover;
	border-radius: 0.25em;
	box-shadow: 0.2em 0.2em 0.5em rgba(0,0,0,0.2);
	margin: 5em auto;
	max-width: 30em;
	padding: 1em;
	transition: all .5s ease;
}
.sign-up input {
	background: rgba(255,255,255,.2);
	border: none;
	border-radius: 0.25em;
	color: #fff;
	font-size: large;
	margin-bottom: 1em;
	padding: 0.8em;
}
.sign-up input:focus {
	background: rgba(255,255,255,.3);
	outline: none;
	transition: background .5s ease;
}
.sign-up input::placeholder {
	color: #cbcbcb;
}
.sign-up label {
	color: rgba(255,255,255,.7);
	display: block;
	font-weight: 500;
}

.sign-up .action {
	border-top: thin solid rgba(255,255,255,.3);
	margin-top: 0.5em;
	min-height: 4.2em;
	padding: 1.5em 1em 0.5em 1em;
}
.sign-up .action > input {
	width: 100%;
}
.sign-up .action > input[type="submit"] {
	cursor: pointer;
}

.sign-up .group {
	margin: 1em;
	text-align: left;
	overflow: hidden;
}
.sign-up .group > input {
	margin-top: 0.5em;
}
.sign-up .group > input[type="text"] {
	box-sizing: border-box;
	width: 100%;
}
